
@{
    ViewBag.Title = "CartEmpty";
    Layout = "~/Views/Shared/_layoutchung.cshtml";
}



<div class="container">
    <h2>Giỏ hàng trống</h2> 
    <table class="table">
        <tr>
            <td>Product name</td>
            <td>Image</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>PriceSum</td>
            <td>Delete</td>
        </tr>
    </table>

    <a href="/Home/Index" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
</div>
