
@{
    ViewBag.Title = "Contact_sucsses";
    Layout = "~/Views/Shared/_layoutchung.cshtml";
}

<div class="container">
    <h2 style="text-align:center;padding:5%;">Cảm ơn!</h2>
    <h2 style="text-align:center">Chúng tôi sẽ liên lạc lại với bạn trong thời gian sớm nhất</h2>
</div>


